.App {
  font-family: monospace;
  text-align: center;
}
.App h1 {
  color: rgb(136, 108, 228);
}
.App h2 {
  color: cadetblue;
  font-family: monospace;
  text-align: center;
}
.App form input {
  border: 2px solid rgb(136, 108, 228);
  border-radius: 20px;
  margin: 2px;
  padding: 10px;
  background-color: rgb(186, 203, 235);
  font-size: 14px;
  font-family: monospace;
}
.App .location {
  font-size: 22px;
}
.App li {
  text-align: left;
  font-size: 18px;
}
.App .waiting {
  display: flex;
  justify-content: center;
}
